@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
:root {
  /* dark shades of primary color*/
  --primary-clr: #0063ff;
  --primary-clr-light: #2c8eff;
  --primary-clr-dark: #035ae0;
  /* darkest grey - used for headings */
  --neutral-clr: #9c9cb3;
  --neutral-clr-light: #c2c2d6;
  --neutral-clr-dark: #78788f;
  --white-clr: #fff;
  --black-clr: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1400px;
  --fixed-width: 620px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1;
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Sidebar Styles */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0px;
  background: var(--primary-clr);
  color: var(--white-clr);
  overflow: hidden;
  transition: var(--transition);
}
.show-sidebar {
  width: 80px;
}
.sidebar-header {
  min-width: 49px;
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  margin-bottom: 1rem;
}
.sidebar-container .sidebar-header .logo {
  font-size: 2.25rem;
}
.sidebar-container .sidebar-header .logo-text {
  font-size: 1.45rem;
  display: none;
  margin-bottom: none;
}
.nav-container .nav-links .nav-link {
  padding: 0 1rem 0.5rem;
}
.nav-container .nav-links .nav-link a {
  min-width: 48px;
  display: flex;
  align-items: center;
  color: var(--white-clr);
  padding: 1rem 1rem;
}
.nav-container .nav-links .nav-link .active,
.nav-container .nav-links .nav-link a:hover {
  background: var(--primary-clr-dark);
  border-radius: var(--radius);
}
.nav-container .nav-links .nav-link a .nav-icon {
  font-size: 1rem;
}
.nav-container .nav-links .nav-link a p {
  white-space: nowrap;
  display: none;
}
.toggle-btn {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: var(--white-clr);
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr-light);
  border-radius: 50%;
  top: 5px;
  left: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: var(--transition);
}
.toggle-btn:hover {
  background: var(--primary-clr);
  color: var(--white-clr);
  border: 1px solid var(--primary-clr);
}
.active-sidebar {
  top: 5px;
  left: 62px;
}
@media screen and (min-width: 800px) {
  .show-sidebar {
    width: 250px;
  }
  .sidebar-header {
    min-width: 220px;
    padding: 0.5rem 0.75rem 0.5rem 0;
  }
  .sidebar-container .sidebar-header .logo {
    margin-right: 0.5rem;
  }
  .sidebar-container .sidebar-header .logo-text {
    display: block;
  }
  .nav-container .nav-links .nav-link a {
    min-width: 220px;
    padding: 0.5rem 1rem;
  }
  .nav-container .nav-links .nav-link a .nav-icon {
    margin-right: 1rem;
  }
  .nav-container .nav-links .nav-link a p {
    display: block;
    margin: 0;
  }
  .toggle-btn {
    padding: 0.5rem 0.48rem 0.5rem 0.52rem;
    width: 35px;
    height: 35px;
  }
  .active-sidebar {
    top: 5px;
    left: 232px;
  }
}
